<div class="card">
  <div class="card-header">
    <strong>Patch Steps</strong>
  </div>
  <div class="card-body">
    <!--/.row-->
    <div class="row">
      <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-12">
              <button class="mr-1 btn btn-primary" (click)="onAddStep()"> Add</button>
              <button class="mr-1 btn btn-primary" (click)="onDeleteStep()"> Delete</button>
              <button class="mr-1 btn btn-primary" (click)="onCopyStep()"> Copy</button>
              <button class="mr-1 btn btn-primary" (click)="onPasteStep()"> Paste</button>
              <button class="mr-1 btn btn-primary" (click)="onMoveUpStep()"> Up</button>
              <button class="mr-1 btn btn-primary" (click)="onMoveDownStep()"> Down</button>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-12"  style="height: 500px; overflow-y: auto;">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Active</th>
                  <th>Comment</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of service?.ws?.scriptPatch?.stepList; let i = index" [attr.data-index]="i" [ngClass]="{'selected-row' : item == selectedStep}">
                  <td  (click)="onRowClicked(item);">
                    {{i + 1}}.
                  </td>
                  <td>
                    <div class="form-group">
                      <label class="checkbox-inline" for="inline-checkbox">
                        <input (change)="onStepActiveToogled(item)" type="checkbox" id="inline-checkbox" name="inline-checkbox" [checked]="item.active" >
                      </label>
                    </div>
                  </td>
                  <td  (click)="onRowClicked(item);">{{item.comment}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div *ngIf="selectedStep" class="col-sm-12">
            <label for="select"><strong>Step {{selectedStepIndex+1}}.</strong> {{ selectedStep?.comment ? ' - ' + selectedStep?.comment : ''}}</label>
            <select (change)="setSelectedStep(selectedStep)" id="select" name="select" class="form-control"
              [(ngModel)]="selectedStep.stepType" [disabled]='!selectedStep.active'>
              <option value="0">-</option>
              <option value="1">insert on top of file</option>
              <option value="2">append to end of file</option>
              <option value="3">insert before</option>
              <option value="4">insert after</option>
              <option value="5">replace text</option>
              <option value="6">delete text</option>
            </select>
          </div>
        </div>
        <div *ngIf="searchVisible && selectedStep" class="row">
          <label class="col-sm-12 col-form-label" for="textarea-input-search">Search text</label>
          <div class="form-group col-sm-12">
              <div ace-editor
                [(text)]="selectedStep.searchText"
                [mode]="'sql'"
                [theme]="'eclipse'"
                [readOnly]="!selectedStep.active"
                style="width:100%; overflow: auto;"
                [ngStyle]="{'min-height': replaceVisible ? '200px' : '450px'}">
              </div>
          </div>
        </div>
        <div *ngIf="replaceVisible && selectedStep" class="row">
          <label class="col-sm-12 col-form-label" for="textarea-input-replace">Replace text</label>
          <div class="form-group col-sm-12">
              <div ace-editor
                [(text)]="selectedStep.replaceText"
                [mode]="'sql'"
                [theme]="'eclipse'"
                [readOnly]="!selectedStep.active"
                style="min-height: 200px; width:100%; overflow: auto;">
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
