<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 mb-12">
      <!-- Nav tabs -->
      <tabset>
        <tab [active]="tabs[0].active" (select)="tabSelected(0)">
          <ng-template tabHeading>
            <i class="icon-info"></i> Info
          </ng-template>
          <app-info #tabContent0></app-info>
        </tab>
        <tab [active]="tabs[1].active" (select)="tabSelected(1)"
             [disabled]="service.ws == null || service.ws == undefined"
             customClass="{{ (service.ws == null || service.ws == undefined) ? 'tab-disabled' : null}}">
            <ng-template tabHeading>
              <i class="icon-list"></i> Steps
            </ng-template>
            <app-steps #tabContent1></app-steps>
        </tab>
        <tab [active]="tabs[2].active" (select)="tabSelected(2)"
             [disabled]="service.ws == null || service.ws == undefined"
             customClass="{{ (service.ws == null || service.ws == undefined) ? 'tab-disabled' : null}}">
            <ng-template tabHeading>
              <i class="icon-doc"></i> SQL File
            </ng-template>
            <app-sqlfile #tabContent2></app-sqlfile>
        </tab>
        <tab [active]="tabs[3].active" (select)="tabSelected(3)"
             [disabled]="service.ws == null || service.ws == undefined"
             customClass="{{ (service.ws == null || service.ws == undefined) ? 'tab-disabled' : null}}">
            <ng-template tabHeading>
              <i class="icon-share"></i> Preview
            </ng-template>
            <app-preview #tabContent3></app-preview>
        </tab>
        <tab [active]="tabs[4].active" (select)="tabSelected(4)"
             [disabled]="service.ws == null || service.ws == undefined"
             customClass="{{ (service.ws == null || service.ws == undefined) ? 'tab-disabled' : null}}">
            <ng-template tabHeading>
              <i class="icon-control-pause"></i> Diff
            </ng-template>
            <app-diff #tabContent4></app-diff>
        </tab>
      </tabset>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

<pre>
    {{service?.ws | json }}
</pre>

