<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 mb-12">
      <!-- Nav tabs -->
      <tabset>
        <tab>
          <ng-template tabHeading>
            <i class="icon-info"></i> Info
          </ng-template>
          <app-info></app-info>
        </tab>
        <tab>
            <ng-template tabHeading>
              <i class="icon-list"></i> Steps
            </ng-template>
            <app-steps></app-steps>
        </tab>
        <tab>
            <ng-template tabHeading>
              <i class="icon-doc"></i> SQL File
            </ng-template>
            <app-sqlfile></app-sqlfile>
        </tab>
        <tab>
            <ng-template tabHeading>
              <i class="icon-share"></i> Preview
            </ng-template>
            <app-preview></app-preview>
        </tab>
        <tab>
            <ng-template tabHeading>
              <i class="icon-control-pause"></i> Diff
            </ng-template>
            <app-diff></app-diff>
        </tab>
      </tabset>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
